/* font-face for preload */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);

@font-face{
    font-family: 'DINRegular';
    src: url('../fonts/din-regular-webfont.eot');
    src: url('../fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/din-regular-webfont.woff') format('woff'), 
    url('../fonts/din-regular-webfont.ttf') format('truetype'), 
    url('../fonts/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
@font-face{
    font-family: 'DINMedium';
    src: url('../fonts/din-medium-webfont.eot');
    src: url('../fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/din-medium-webfont.woff') format('woff'), 
    url('../fonts/din-medium-webfont.ttf') format('truetype'), 
    url('../fonts/din-medium-webfont.svg#DINMedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
@font-face{
    font-family: 'DINBold';
    src: url('../fonts/din-bold-webfont.eot');
    src: url('../fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/din-bold-webfont.woff') format('woff'), 
    url('../fonts/din-bold-webfont.ttf') format('truetype'), 
    url('../fonts/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
@font-face{
    font-family: 'din_otcondensed_bold';
    src: url('../fonts/dinot-condbold-webfont.eot');
    src: url('../fonts/dinot-condbold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/dinot-condbold-webfont.woff') format('woff'), 
    url('../fonts/dinot-condbold-webfont.ttf') format('truetype'), 
    url('../fonts/dinot-condbold-webfont.svg#din_otcondensed_bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}



